
combined_sieve
gap_stats
gap_stats_missing
gap_test
benchmark
*.o

pfgw
pfgw64
pfgw.ini
pfgw.log
pfgw-prime.log

*.db

data/
*M.txt
*M.m1.txt
*M.*missing.txt
*M.txt.log
*M.txt.png
*M.txt.stats

.gdb_history
