
# Programs
combined_sieve
gap_stats
gap_stats_missing
gap_test_simple
benchmark
benchmark_google
*.o

# data
*.db
logs/
data/
backup/
done/
*M.txt
*M.m1.txt
*M.*missing.txt
*M.txt.log
*M.txt.png
*M.txt.stats
temp_tests.log
perf.data
perf.data.old

# PrimeForms
pfgw
pfgw64
pfgw.ini
pfgw.log
pfgw-prime.log

# CLion
cmake-build-*/

# Random
__pycache__/
.gdb_history
prime-gap-list
